.editorconfig
.eslintignore
.eslintrc.js
.git
.gitignore
.jsdoc.json
.npmignore
.nvmrc
.prettierignore
.prettierrc
.DS_Store
.idea
.vscode
vscode
*~
*.orig
*.out
*.sw*
package-lock.json
npm-debug.log
coverage
docs
logs
changelog
node_modules
tests
workspace
